*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #252237;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.limit-container {
  max-width: 1070px;
  margin: 0 auto;
}
@media (min-width: 1920px) {
  .limit-container {
    max-width: 1440px;
  }
}
@media (max-width: 1070px) {
  .limit-container {
    padding: 0 15px;
  }
}

.title {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 62px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .title {
    padding: 0 10px;
    font-size: 1.875rem;
  }
}

.centered {
  text-align: center;
}

.style-link {
  color: #FFFFFF;
  text-decoration: none;
}

.style-link:hover {
  text-decoration: underline;
}

.button {
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 40px;
  background: #E2521D;
  border: none;
  box-shadow: 0px 0px 55px rgba(202, 0, 80, 0.51);
  border-radius: 10px;
  padding: 20px 70px;
}
@media (max-width: 768px) {
  .button {
    padding: 14px 50px;
  }
}

.none {
  display: none;
}

.active {
  text-transform: uppercase;
}

.header-section {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media (min-width: 1920px) {
  .header-section {
    padding: 0 15px;
    background-position: center;
  }
}
@media (max-width: 1070px) {
  .header-section {
    padding: 0 15px;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .header-section {
    background-position: 80%;
  }
}
.header-section .header {
  padding: 50px 0 100px 50px;
}
.header-section .concept-art__title {
  width: 40%;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 65px;
  letter-spacing: -2.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-section .concept-art__subtitle {
  width: 40%;
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  color: #FFFFFF;
}
.header-section .concept-art__button {
  margin: 50px 0 135px 0;
}

.about-course-section {
  width: 100%;
}
.about-course-section .about-course {
  display: flex;
  gap: 50px;
}
.about-course-section .about-course__text {
  width: 50%;
}
.about-course-section .about-course__title {
  margin-bottom: 80px;
}
.about-course-section .about-course__red-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 40px;
  color: #E2521D;
  margin-bottom: 40px;
}
.about-course-section .about-course__grey-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #8997AB;
}

.study-stages-section .study-stages {
  padding-top: 70px;
}
.study-stages-section .study-stages__title {
  max-width: 450px;
  margin: 0 auto;
}
.study-stages-section .study-stages-wrapper {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.study-stages-section .study-stages__stage {
  width: 50%;
  margin-bottom: 60px;
}
.study-stages-section .study-stages__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 68px;
  text-align: center;
  color: #E2521D;
  border: 1px solid #6a5d6a;
  border-top: 2px solid #E2521D;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.study-stages-section .study-stages__number span {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.study-stages-section .study-stages__text {
  margin-top: 25px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 34px;
  color: #FFFFFF;
}

.programm-section .programm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.programm-section .programm__title {
  max-width: 450px;
  margin-bottom: 50px;
}
.programm-section .programm__section {
  width: 100%;
  padding: 25px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0E1B28;
  color: #FFFFFF;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.programm-section .programm__section-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 18px;
}
.programm-section .programm__section-name span {
  padding-right: 15px;
}
.programm-section .programm__section-close {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #E2521D;
  color: #E2521D;
}
.programm-section .programm__list-block {
  width: 85%;
  padding: 30px 0;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #8997AB;
}

.for-who-section {
  padding-top: 110px;
}
.for-who-section .for-who {
  margin: 0 auto;
  padding: 150px 5% 150px 0;
  max-width: 1370px;
  display: flex;
  justify-content: end;
  background-image: url("../img/bg-2.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.for-who-section .for-who-text-wrapper {
  max-width: 45%;
}
.for-who-section .for-who__red-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.563rem;
  line-height: 52px;
  color: #E2521D;
  margin-bottom: 50px;
}
.for-who-section .for-who__grey-text {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #8997AB;
}

.how-it-goes-section .how-it-goes__title {
  padding-bottom: 45px;
}
.how-it-goes-section .how-it-goes-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how-it-goes-section .course-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 45%;
  padding-bottom: 60px;
}
.how-it-goes-section .course-part__title {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1.438rem;
  line-height: 22px;
  color: #FFFFFF;
}
.how-it-goes-section .course-part__subtitle {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #8997AB;
}
.how-it-goes-section .sign-up__button {
  cursor: pointer;
  background-color: #E2521D;
  padding: 60px 0;
  width: 100%;
  border: none;
}
.how-it-goes-section .sign-up__sign {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 1.438rem;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.how-it-goes-section .sign-up__monthes {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #FFFFFF;
}
.how-it-goes-section .sign-up .benefits {
  margin: 0 auto;
  padding: 30px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.how-it-goes-section .sign-up .benefit {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 34px;
  color: #FFFFFF;
}
.how-it-goes-section .sign-up .benefit__text {
  width: 70%;
}
.how-it-goes-section .sign-up__line {
  width: 85%;
  border: none;
  border-top: 1px solid #706470;
}

.contact-us-section .contact-us {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact-us-section .contact-us__sale {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #F54B31;
}
.contact-us-section .contact-us__sale-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}
.contact-us-section .contact-us__red {
  color: #FA4682;
}
.contact-us-section .contact-us__grey {
  color: rgba(255, 255, 255, 0.5019607843);
}
.contact-us-section .contact-us__fill-form {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.contact-us-section .contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.contact-us-section .contact-form__email {
  width: 100%;
  background: #393C57;
  border: 1px solid #E2521D;
  border-radius: 8px;
  padding: 20px 30px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #FFFFFF;
}
.contact-us-section .contact-form__email::-moz-placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #FFFFFF;
}
.contact-us-section .contact-form__email:-ms-input-placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #FFFFFF;
}
.contact-us-section .contact-form__email::placeholder {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #FFFFFF;
}
.contact-us-section .contact-form__button {
  cursor: pointer;
  padding: 15px 0;
  width: 100%;
  background: #E2521D;
  border: none;
  border-radius: 8px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 1.313rem;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.contact-us-section .contact-form__check-box-wrapper {
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
  gap: 15px;
}
.contact-us-section .contact-form__check-box:checked {
  color: red;
}

.footer-section .footer {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.footer-section .footer .copyright {
  font-weight: 400;
}
.footer-section .footer .pay-secure-info {
  font-weight: 600;
}
.footer-section .footer .pay-secure-info .pay__images {
  display: flex;
  gap: 30px;
}
.footer-section .footer .pay-secure-info .secure__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1024px) {
  .about-course-section .about-course {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-course-section .about-course__text {
    width: 80%;
  }
  .study-stages-section .study-stages-wrapper {
    gap: 20px;
  }
  .study-stages-section .study-stages__stage {
    width: 45%;
    margin-bottom: 60px;
  }
  .for-who-section {
    padding-top: 110px;
  }
  .for-who-section .for-who {
    background-image: none;
    justify-content: center;
  }
  .for-who-section .for-who-text-wrapper {
    text-align: center;
    max-width: 80%;
  }
  .how-it-goes-section .sign-up .benefits {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .how-it-goes-section .sign-up .benefit {
    justify-content: center;
    width: 80%;
  }
  .footer-section .footer {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .header-section .header {
    padding: 18px 0 100px 18px;
  }
  .header-section .concept-art__title {
    width: 100%;
    font-size: 2.5rem;
  }
  .header-section .concept-art__subtitle {
    width: 100%;
    font-size: 0.875rem;
  }
  .header-section .concept-art__button {
    font-size: 0.75rem;
    margin: 50px 0 88px 0;
  }
  .about-course-section {
    width: 100%;
  }
  .about-course-section .about-course {
    display: flex;
    gap: 50px;
  }
  .about-course-section .about-course__text {
    width: 90%;
  }
  .about-course-section .about-course__title {
    font-size: 1.875rem;
  }
  .about-course-section .about-course__red-text {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
  .about-course-section .about-course__grey-text {
    font-size: 0.875rem;
  }
  .study-stages-section .study-stages-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
  }
  .study-stages-section .study-stages__stage {
    width: 80%;
    margin-bottom: 60px;
  }
  .study-stages-section .study-stages__text {
    font-size: 0.875rem;
  }
  .programm-section .programm__section {
    padding: 25px 10px;
  }
  .programm-section .programm__section-name {
    font-size: 0.813rem;
  }
  .programm-section .programm__section-close {
    width: 25px;
    height: 25px;
    font-size: 0.938rem;
  }
  .programm-section .programm__list-block {
    font-size: 0.875rem;
  }
  .for-who-section .for-who {
    padding: 70px 0;
  }
  .for-who-section .for-who-text-wrapper {
    margin: 0 auto;
    max-width: 95%;
  }
  .for-who-section .for-who__red-text {
    font-size: 1.125rem;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .for-who-section .for-who__grey-text {
    font-size: 0.875rem;
    line-height: 28px;
  }
  .how-it-goes-section .how-it-goes-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .how-it-goes-section .course-part {
    width: 90%;
  }
  .how-it-goes-section .course-part__title {
    font-size: 1.438rem;
  }
  .how-it-goes-section .course-part__subtitle {
    font-size: 0.875rem;
    line-height: 28px;
  }
  .how-it-goes-section .sign-up__button {
    padding: 40px 0;
  }
  .how-it-goes-section .sign-up__sign {
    font-size: 1.25rem;
  }
  .how-it-goes-section .sign-up__monthes {
    font-size: 0.875rem;
  }
  .how-it-goes-section .sign-up .benefits {
    align-items: center;
  }
  .how-it-goes-section .sign-up .benefit {
    font-size: 0.875rem;
    justify-content: center;
  }
  .how-it-goes-section .sign-up .benefit__text {
    width: 70%;
  }
  .contact-us-section .contact-form {
    width: 95%;
  }
  .footer-section .footer {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */