// Обнуляющие стили
*,*::before,*::after {box-sizing: border-box;}
ul[class],ol[class] {padding: 0;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {margin: 0;}
body {min-height: 100vh; scroll-behavior: smooth; text-rendering: optimizeSpeed; line-height: 1.5; background-color: #252237;}
ul[class],ol[class] {list-style: none;}
a:not([class]) {text-decoration-skip-ink: auto;}
img {max-width: 100%; display: block;}
article > * + * {margin-top: 1em;}
input,button,textarea,select {font: inherit;}
@media (prefers-reduced-motion: reduce) {* {animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important;}}


$mainColor: #252237;
$buttonOrange: #E2521D;


.limit-container {
    max-width: 1070px;
    margin: 0 auto;
    @media (min-width: 1920px) {
        max-width: 1440px;
    }
    @media (max-width: 1070px) {
        padding: 0 15px;
    }
}

.title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 62px;
    color: #FFFFFF;
    @media (max-width: 768px) {
        padding: 0 10px;
        font-size: 1.875rem;
    }
}

.centered {
    text-align: center;
}

.style-link {
    color: #FFFFFF;
    text-decoration: none;
}

.style-link:hover {
    text-decoration: underline;
}

.button {
    color: #FFFFFF;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 40px;
    background: $buttonOrange;
    border: none;
    box-shadow: 0px 0px 55px rgba(202, 0, 80, 0.51);
    border-radius: 10px;
    padding: 20px 70px;
    @media (max-width: 768px) {
        padding: 14px 50px;
    }
}

.none {
    display: none;
}

.active {
    text-transform: uppercase;
}


.header-section {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    @media (min-width: 1920px) {
        padding: 0 15px;
        background-position: center;
    }
    @media (max-width: 1070px) {
        padding: 0 15px;
        background-size: cover;
    }
    @media (max-width: 768px) {
        background-position: 80%;
    }
    .header {
        padding: 50px 0 100px 50px;
    }
    .concept-art {
        &__title {
            width: 40%;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 4.375rem;
            line-height: 65px;
            letter-spacing: -2.5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &__subtitle {
            width: 40%;
            margin-top: 30px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 24px;
            color: #FFFFFF;
        }
        &__button {
            margin: 50px 0 135px 0;
        }
    }
}

.about-course-section {
    width: 100%;
    .about-course {
        display: flex;
        gap: 50px;
        &__text {
            width: 50%;
        }
        &__title {
            margin-bottom: 80px;
        }
        &__red-text {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.563rem;
            line-height: 40px;
            color: $buttonOrange;
            margin-bottom: 40px;
        }
        &__grey-text {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #8997AB;

        }
    }
}

.study-stages-section {
    .study-stages {
        padding-top: 70px;
        &__title {
            max-width: 450px;
            margin: 0 auto;
        }
        &-wrapper {
            padding-top: 75px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__stage {
            width: 50%;
            margin-bottom: 60px;
        }
        &__number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 84px;
            height: 84px;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.563rem;
            line-height: 68px;
            text-align: center;
            color: #E2521D;
            border: 1px solid #6a5d6a;
            border-top: 2px solid $buttonOrange;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            span {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
        }
        &__text {
            margin-top: 25px;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 34px;
            color: #FFFFFF;
        }
    }
}

.programm-section {
    .programm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__title {
            max-width: 450px;
            margin-bottom: 50px;
        }
        &__section {
            width: 100%;
            padding: 25px 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #0E1B28;
            color: #FFFFFF;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &-name {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 0.938rem;
                line-height: 18px;
                span {
                    padding-right: 15px;
                }
            }
            &-close {
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.875rem;
                overflow: hidden;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border: 1px solid $buttonOrange;
                color: $buttonOrange;
            }
        }
        &__list-block {
            width: 85%;
            padding: 30px 0;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #8997AB;
        }
    }
}

.for-who-section {
    padding-top: 110px;
    .for-who {
        margin: 0 auto;
        padding: 150px 5% 150px 0;
        max-width: 1370px;
        display: flex;
        justify-content: end;
        background-image: url("../img/bg-2.jpg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        &-text-wrapper {
            max-width: 45%;
        }
        &__red-text {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.563rem;
            line-height: 52px;
            color: $buttonOrange;
            margin-bottom: 50px;
        }
        &__grey-text {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #8997AB;
        }
    }
}

.how-it-goes-section {
    .how-it-goes__title {
        padding-bottom: 45px;
    }
    .how-it-goes-wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .course-part {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 45%;
        padding-bottom: 60px;
        &__title {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.438rem;
            line-height: 22px;
            color: #FFFFFF;
        }
        &__subtitle {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #8997AB;
        }
    }
    .sign-up {
        &__button {
            cursor: pointer;
            background-color: $buttonOrange;
            padding: 60px 0;
            width: 100%;
            border: none;
        }
        &__sign {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.438rem;
            line-height: 22px;
            color: #FFFFFF;
            text-transform: uppercase;
            padding-bottom: 15px;
        }
        &__monthes {
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #FFFFFF;
        }
        .benefits {
            margin: 0 auto;
            padding: 30px 0;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        .benefit {
            display: flex;
            align-items: center;
            gap: 30px;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 34px;
            color: #FFFFFF;
            &__text {
                width: 70%;
            }
        }
        &__line {
            width: 85%;
            border: none;
            border-top: 1px solid #706470;
        }
    }
}

.contact-us-section {
    .contact-us {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        &__sale {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 900;
            font-size: 2.25rem;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.01em;
            color: #F54B31;
        }
        &__sale-text {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 1.25rem;
            line-height: 140%;
            color: #FFFFFF;
            text-align: center;
        }
        &__red {
            color: #FA4682;
        }
        &__grey {
            color: #FFFFFF80;
        }
        &__fill-form {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .contact-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        &__email {
            width: 100%;
            background: #393C57;
            border: 1px solid #E2521D;
            border-radius: 8px;
            padding: 20px 30px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 120%;
            color: #FFFFFF;
        }
        &__email::placeholder {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 120%;
            color: #FFFFFF;
        }
        &__button {
            cursor: pointer;
            padding: 15px 0;
            width: 100%;
            background: $buttonOrange;
            border: none;
            border-radius: 8px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 1.313rem;
            line-height: 140%;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }

        &__check-box-wrapper {
            display: flex;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 140%;
            color: #ffffff99;
            gap: 15px;
        }

        &__check-box:checked {
            color: red;
        }
    }

}

.footer-section {
    .footer {
        display: flex;
        justify-content: space-between;
        font-family: 'Gilroy';
        font-style: normal;
        font-size: 0.875rem;
        line-height: 200%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        padding-bottom: 30px;
        .copyright {
            font-weight: 400;
        }
        .pay-secure-info {
            font-weight: 600;
            .pay {
                &__images {
                    display: flex;
                    gap: 30px;
                }

            }
            .secure {
                &__images {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                }
            }
        }
    }
}



@media (max-width: 1024px) {
    .about-course-section {
        .about-course {
            flex-direction: column-reverse;
            align-items: center;
            &__text {
                width: 80%;
            }
        }
    }


    .study-stages-section {
        .study-stages {
            &-wrapper {
                gap: 20px;
            }
            &__stage {
                width: 45%;
                margin-bottom: 60px;
            }
        }
    }
    
    
    .for-who-section {
        padding-top: 110px;
        .for-who {
            background-image: none;
            justify-content: center;
            &-text-wrapper {
                text-align: center;
                max-width: 80%;
            }
        }
    }

    .how-it-goes-section {
        .sign-up {
            .benefits {
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }
            .benefit {
                justify-content: center;
                width: 80%;
            }
        }
    }

    .footer-section {
        .footer {
            gap: 20px;
        }
    }
}

@media (max-width: 768px) {
    .header-section {
        .header {
            padding: 18px 0 100px 18px;
        }
        .concept-art {
            &__title {
                width: 100%;
                font-size: 2.5rem;
            }
            &__subtitle {
                width: 100%;
                font-size: 0.875rem;
            }
            &__button {
                font-size: 0.75rem;
                margin: 50px 0 88px 0;
            }
        }
    }

    .about-course-section {
        width: 100%;
        .about-course {
            display: flex;
            gap: 50px;
            &__text {
                width: 90%;
            }
            &__title {
                font-size: 1.875rem;
            }
            &__red-text {
                font-size: 1.125rem;
                margin-bottom: 20px;
            }
            &__grey-text {
                font-size: 0.875rem;
    
            }
        }
    }

    .study-stages-section {
        .study-stages {
            &-wrapper {
                flex-direction: column;
                align-items: center;
                gap: 20px;
                flex-wrap: nowrap;
            }
            &__stage {
                width: 80%;
                margin-bottom: 60px;
            }
            &__text {
                font-size: 0.875rem;
            }
        }
    }

    .programm-section {
        .programm {
            &__section {
                padding: 25px 10px;
                &-name {
                    font-size: 0.813rem;
                }
                &-close {
                    width: 25px;
                    height: 25px;
                    font-size: 0.938rem;
                }
            }
            &__list-block {
                font-size: 0.875rem;
            }
        }
    }

    .for-who-section {
        .for-who {
            padding: 70px 0;
            &-text-wrapper {
                margin: 0 auto;
                max-width: 95%;
            }
            &__red-text {
                font-size: 1.125rem;
                line-height: 34px;
                margin-bottom: 20px;
            }
            &__grey-text {
                font-size: 0.875rem;
                line-height: 28px;
            }
        }
    }

    .how-it-goes-section {
        .how-it-goes-wrapper {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        .course-part {
            width: 90%;
            &__title {
                font-size: 1.438rem;
            }
            &__subtitle {
                font-size: 0.875rem;
                line-height: 28px;
            }
        }
        .sign-up {
            &__button {
                padding: 40px 0;
            }
            &__sign {
                font-size: 1.25rem;
            }
            &__monthes {
                font-size: 0.875rem;
            }
            .benefits {
                align-items: center;
            }
            .benefit {
                font-size: 0.875rem;
                justify-content: center;
                &__text {
                    width: 70%;
                }
            }
        }
    }

    .contact-us-section {
        .contact-form {
            width: 95%;
        }
    
    }

    .footer-section {
        .footer {
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
}